<h1>New task</h1>

<form id="new-task" name="task">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" >
  </div>

  <div class="field">
    <label for="status"> status:</label>
    <input type="text" name="status" id="status" >
  </div>

  <div class="field">
    <label for="priority"> priority:</label>
    <input type="text" name="priority" id="priority" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Task" />
  </div>

</form>

<a href="#/index">Back</a>
